<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Room</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light text-capitalize main-font-family">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Admin">Book Room (Admin Dashboard)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#show-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="show-menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Admin">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Room" asp-action="Index">Room</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Query" asp-action="Index">Query</a>
                    </li>
                    <li class="nav-item book d-flex align-items-center">
                        <a class="nav-link" asp-area="" asp-controller="RoomBook" asp-action="Index">book now</a>
                    </li>
                    <li>
                        <a class="smoothScroll" asp-area="" asp-controller="Logins" asp-action="LogOut">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <br />
    <br />
    <section id="body">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </section>
    <div class="copyright noto-font-family">
        <p>© 2021 All Rights Reserved. Design by <a href="https://html.design/">Book Room</a></p>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
</body>
</html>
